/* pt-5 px-3 px-md-0 f-center flex-column f-center mb-4
toggle-link-item
toggle-link-item active-link
form-box
mb-3 */

.f-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.toggle-link-item {
  text-decoration: none;
  font-weight: 700;
  color: #575757;
  font-size: large;
  padding: 0 1rem;
}
.toggle-link-item:first-child {
  border-right: 2px solid #575757;
}

.toggle-link-item.active-link,
.toggle-link-item:hover {
  color: #aa4bff;
}
.form-box {
  width: 100%;
  display: inline-block;
  border: var(--border-thin-dark);
  border-radius: 5px;
  padding: 2rem;
}
.wt-500{
  width: 600px !important;
}
.bk-car{
  
    text-align: center;
    height: 70px;
    margin-bottom: 1rem;
}
.bk-car > span{
  font-weight: bold;
  font-size: 3rem;
  color: steelblue;
  font-family: Jost;
}
.nt-fnd
{
  height: 200px;
  align-items: center;
  display: flex;
}
.nt-fnd > span{
  text-align: center;
    font-weight: bold;
    font-size: 2rem;
    color: #c2b7c2;
    font-family: Jost;
}
.row-car-list{
  width: 90%;
    color: white;
    border-radius: 12px;
    border: 0.5px solid rgba(152, 152, 152, 0.12);
    background: #FFF;
    box-shadow: 0px 4px 24px 0px rgba(101, 101, 101, 0.12);
}

.imp-prp
{
  display: flex;
  justify-content: center;
}